.markdown-body h1 {
    border-left: solid 0.3em rgba(139,195,74 ,1);
    padding-left: 0.3em !important;
}

.markdown-body h2 {
    border-left: solid 0.15em rgba(139,195,74 ,1);
    padding-left: 0.15em !important;
}

.markdown-body h3 {
    border-left: solid 0.1em rgba(139,195,74 ,1);
    padding-left: 0.1em !important;
}