.markdown-body h1 {
    border-left: solid 0.3em rgba(139,195,74 ,1);
    padding-left: 0.3em !important;
}

.markdown-body h2 {
    border-left: solid 0.15em rgba(139,195,74 ,1);
    padding-left: 0.15em !important;
}

.markdown-body h3 {
    border-left: solid 0.1em rgba(139,195,74 ,1);
    padding-left: 0.1em !important;
}

#head {
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: middle;
    padding: 0;
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
}

#head h1 {
    font-size:2em;
}

#head ul li {
    margin-bottom: 0;
}

.btn:hover, .btn:visited {
    color: white;
    text-decoration: underline;
}
.btn:link {
    color: #4183c4;
    text-decoration: none;
}

#wiki-body {
    position: relative;
    top:3em;
}

.action-page-history{
    display: none !important;
}